.footer {
    color: white;
    background-color: var(--color-dark2);
}

.footer-section { 
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.social-list {
    margin-top: .8rem;
    display: flex;
    gap: 1rem;
}

.social-list i {
    font-size: 1.2rem;
    border: 1px solid white;
    border-radius: 50%;
    padding: .8rem;
    transition: all .6s;
    cursor: pointer;
}

.social-list i:hover {
    background-color: var(--color-light2);
    color: black;
    transform: scale(1.2);  
}

.footer-box-contact i {
    margin-right: .6rem;
    transition: all .4s;
}

.footer-box-contact i:hover {
    color: var(--color-light2);
}

.copy {
    text-align: center;
    padding: 2.5rem 0;
    border-top: 1px solid var(--color-light1);
}





.header-title-div a{
    color: white;
    transition: all .4s;
}

.header-title-div a:hover {
    text-decoration: underline;
    color: var(--color-medium);
}